<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-6.jpg') %>") !important;
  }
</style>
<!--/noindex-->
<section id="section">

  <script type="text/javascript" charset="utf-8">

  </script>


  <div id="article-banner-holder">
    <div class="article-banner" id="article-banner-slider">
      <div id="active-article-banner">
        <% @articles.publications.first(3).each do |banner| %>
          <div class="article_banner_slider_item">
            <%= image_tag banner.avatar.url(:article_page_banner) %>
            <div class="descr_block">
              <i><%= banner.created_at.strftime("%d.%m.%Y") %></i>
              <h2><%= link_to banner.name, articles_show_path(:id => banner.slug) %></h2>
              <p><%= banner.short_description %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div id="article_holder">
    <div class="article_featured">
      <h2>Другие статьи</h2>
      <% @articles.publications.each do |item| %>
        <div class="__l_news_item_news_holder">
          <%= image_tag item.avatar.url(:news_avatar) %>
          <h3><%= link_to item.name, articles_show_path(:id => item.slug) %></h3>
          <i><%= item.created_at.strftime("%d.%m.%Y") %></i>
          <p><%= item.short_description %></p>
        </div>
      <% end %>
    </div>
  </div>

</section>
