
<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-6.jpg') %>") !important;
  }
</style>
<!--/noindex-->
<section id="section">
  <article id="news_show" class="clearfix">
    <article class="news_content clearfix">
      <div class="ll">
        <%= image_tag(@news.avatar.url(:news_inside), alt: @news.name) %>
      </div>
      <div class="rr">
        <h2><%= @news.name %></h2>
        <i><%= @news.created_at.strftime("%d.%m.%Y") %></i>
        <%= raw @news.full_description %>
      </div>
    </article>
  </article>

  <article class="news_featured clearfix">
    <article class="news_featured_item">
      <h2>Читайте еще:</h2>
      <% @news_f.publications.last(4).each do |item| %>
        <div class="__l_news_item_news_holder">
          <%= image_tag item.avatar.url(:news_avatar) %>
          <h3><%= link_to item.name, news_show_path(:id => item.slug, :publication_catalog_id => 1) %></h3>
          <i><%= item.created_at.strftime("%d.%m.%Y") %></i>
          <p><%= item.short_description %></p>
        </div>
      <% end %>
    </article>
  </article>
</section>
