<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-6.jpg') %>") !important;
  }
</style>
<!--/noindex-->
<section id="section">

  <div id="news_holder">
    <% @news.publications.each do |item| %>
      <div class="__l_news_item_news_holder">
        <%= image_tag item.avatar.url(:news_avatar) %>
        <h3><%= link_to item.name, news_show_path(:id => item.slug) %></h3>
        <i><%= item.created_at.strftime("%d.%m.%Y") %></i>
        <p><%= item.short_description %></p>
      </div>
    <% end %>
  </div>

</section>
