<!--noindex-->
<% if @usages.id == 10 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/taxi-page-banner.jpg') %>") !important;
    }

  </style>

<% elsif @usages.id == 11%>
  <style>

    header{
      background-image: url("<%= image_path('banners/11-banner.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 13 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/13.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 15 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/15.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 14 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/14.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 32 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/32.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 31 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/31.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 12 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/12.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 33 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/33.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 33 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/33.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 34 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/34.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 35 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/35.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 36 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/36.jpg') %>") !important;
    }

  </style>
<% elsif @usages.id == 37 %>
  <style>

    header{
      background-image: url("<%= image_path('banners/37.jpg') %>") !important;
    }

  </style>
<% else %>
  <style>

    header{
      background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
    }

  </style>
<% end %>

<!--/noindex-->
<section id="section" class="clearfix">
	<%= @usages.full_description.html_safe %>
</section>
