<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-9.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="section">

	<div id="usage_holder">
		<% @usages.publications.each do |item| %>
		<div class="__usage_item">
      <%= image_tag item.avatar.url(:usage_avatar) %>
			<h3><%= link_to item.name, usage_show_path(:id => item.slug) %></h3>
			<p><%= item.short_description %></p>
		</div>
		<% end %>
	</div>

</section>
