#section {
  .about_us {
    width: 720px;
    margin: 0 auto;
    .h1_h {
      padding-bottom: 60px;
      padding-left: 10px;

      border-left: 2px solid #c77b40;
    }
    .p_h {
      margin-top: -60px;
      padding-left: 14px;
    }
    img {
      float: left;

      width: 100%;
      max-width: 720px;
      margin-bottom: 40px;

      text-align: center;
    }
    h1 {
      line-height: 24px;

      float: left;

      width: 720px;
      margin-bottom: 20px;

      color: #c77b40;
    }
    h2 {
      line-height: 24px;

      float: left;

      width: 720px;
      margin-bottom: 20px;

      color: #c77b40;
    }
    p {
      float: left;

      width: 720px;
      margin-bottom: 20px;

      color: #414042;
    }
  }
}
