section#section
{
  .system_ability
  {
    width: 1020px;
    margin: 0 auto;
    blockquote
    {
      margin-bottom: 60px;
      padding-left: 10px;

      border-left: 2px solid #c77b40;
      p
      {
        font-size: 30px;
        line-height: 34px;

        padding-left: 10px;

        color: #4f7a8d;
        font-weight: 600 !important;
      }
    }
    .left
    {
      float: left;

      width: 500px;
      margin-right: 20px;
      h3
      {
        font-size: 18px;

        margin-bottom: 20px;

        color: #c77b40;
      }
      ul
      {
        list-style: none;
        li
        {
          float: left;

          margin-bottom: 18px;
          line-height: 22px;

          color: #6d6e71;
        }
      }
    }
    .right
    {
      float: left;

      width: 500px;
      h3
      {
        font-size: 18px;

        margin-bottom: 20px;

        color: #c77b40;
      }
      ul
      {
        list-style: none;
        li
        {
          float: left;

          margin-bottom: 18px;
          line-height: 22px;

          color: #6d6e71;
        }
      }
    }

    i{
      display: block;
      height: 25px;
      width: 20px;
      float: left;
    }

    .last_i{
      height: 95px;
    }
  }
}
