section#section
{
  .economy_effect
  {
    width: 100%;
    margin: 0 auto;
    blockquote
    {
      width: 720px;
      margin: 0 auto;
      padding: 0 0 40px 0;

      text-align: left;
      p
      {
        font-style: italic;

        color: #4f7a8d;
      }
    }
    .wrapper
    {
      width: 1020px;
      margin: 0 auto;
    }
    .economy_item
    {
      float: left;

      width: inherit;
      height: 100%;
      margin: 0;
      padding: 40px 0;
      img
      {
        float: left;

        width: 350px;
        margin-right: 20px;
      }
      h2
      {
        float: left;

        width: 650px;
        margin-bottom: 20px;

        color: #c77b40;
      }
      p
      {
        float: left;

        width: 650px;

        color: #6d6e71;
      }
      &:nth-child(2n)
      {
        background: #f6f8f9;
        img
        {
          float: right;

          margin-right: 0;
          margin-left: 20px;
        }
      }
    }
  }
}
