@import "normal";

#news_show{
  width: 1020px;
  margin: 0 auto;

  .news_content{
    margin-bottom: 40px;

    .ll{
      width: 300px;
      float: left;
      height: 300px;
      margin-right: 20px;

    }

    .rr{
      width: 700px;
      float: left;

      blockquote{
        margin: 30px auto;
        width: 700px;
        position: relative;
        .left{
          position: relative;
          top: 50px;
          left: -10px;
          float: left;
          color: #c77b40;
          font-size: 200px;
        }

        .quote-text{

          position: relative;
          z-index: 1;
          padding-left: 20px;
          font-weight: normal;
          font-style: italic;
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 0;
          margin-top: 0;
          display: block;
        }

        .right{

          position: absolute;
          bottom: -40px;
          right: -20px;
          float: right;
          color: #c77b40;
          font-size: 100px;
        }
      }

      h2{
        font-size: 34px;
        line-height: 26px;
        margin-bottom: 20px;
        color: #c77b40;
        border-left: 2px solid #C77B40;
        padding-left: 15px;
        padding-bottom: 40px;
      }
      i{
        display: block;
        position: relative;
        padding-left: 15px;
        top: -35px;
        color: #4F7A8D;
      }
      h3{
        //margin-top: 20px;
        margin-bottom: 10px;
        color: #c77b40;
      }
      p{
        font-size: 16px;
        line-height: 22px;
        color: #6d6e71;
        margin-bottom: 30px;

        img{
          width: 700px;
          height: 430px;
          margin-bottom: 0;
        }
      }



      .image-label{
        margin-top: -30px;
        color: #4F7A8D;
        font-style: italic;
        font-weight: bolder;
      }
    }

  }
}


.news_featured{

  background: #f7f8fa;
  width: 100%;
  padding: 40px 0;

  .news_featured_item{

    width: 1020px;
    margin: 0 auto;

    h2{
      font-size: 28px;
      line-height: 26px;
      margin-bottom: 20px;
      color: #4f7a8d;
    }

    .__l_news_item_news_holder
    {
      float: left;

      width: 500px;
      height: 130px;
      margin: 25px 20px 25px 0;
      &:nth-child(2n)
      {
        margin: 25px 0 25px 0;
      }
      img
      {
        float: left;

        width: 130px;
        padding-right: 10px;

        vertical-align: middle;

        border-right: 2px solid rgba(199, 123, 64, 1);
      }
      h3,
      i,
      p
      {
        margin-left: 10px;
      }
      h3
      {
        font-size: 1em;
        font-weight: 400;

        float: left;

        width: 360px;
        a
        {
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;

          color: rgba(199, 123, 64, 1);
          border-bottom: 1px solid rgba(199, 123, 64, .2);
          &:hover
          {
            border-bottom: 1px solid rgba(199, 123, 64, 1);
          }
        }
      }
      i
      {
        font-size: 12px;

        float: left;

        width: 360px;
        padding-bottom: 4px;

        color: #4f7a8d;
      }
      p
      {
        font-size: 14px;

        float: left;

        width: 360px;

        color: #6d6e71;
      }
    }
  }

}


#article-banner-holder{
  width: 100%;
  padding: 60px 0;
  height: 520px;
  overflow-y: hidden;
  background: #f7f8fa;

  .csSlideOuter .csPager.cSpg{
    position: relative;
    top: -145px;
  }



  .article-banner{

    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
    .article_banner_slider_item{

      border: 1px #C4D5DD;;

      img{
        overflow: hidden;
        float: left;
        width: 100%;
        max-width: 1020px;
        height: 400px;
        max-height: 400px;
      }
      .descr_block{
        float: left;
        width: 1020px;
        height: 140px;
        padding: 20px 20px;
        background: rgba(79, 122, 141, .75);
        color: #ffffff;
        position: relative;
        top: -140px;
        z-index: 999999;

        h2{
          margin-bottom: 10px;
          a{
            color: rgba(255, 255, 255, 1);
            border-bottom: 1px solid rgba(255, 255, 255, .5);

            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

            &:hover{
              border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
          }
        }

        i{
          color: #C4D5DD;
        }
      }
    }
  }
}


#article_holder{
  width: 1020px;
  margin: 30px auto 0 auto;

  @include clearfix();

  .article_featured{
    padding: 20px 0;

    h2{
      color: #4F7A8D;
      font-size: 26px;
      margin-bottom: 2px;
    }

    .__l_news_item_news_holder
    {
      float: left;

      width: 500px;
      height: 130px;
      margin: 25px 20px 25px 0;
      &:nth-child(2n)
      {
        margin: 25px 0 25px 0;
      }
      img
      {
        float: left;

        width: 130px;
        padding-right: 10px;

        vertical-align: middle;

        border-right: 2px solid rgba(199, 123, 64, 1);
      }
      h3,
      i,
      p
      {
        margin-left: 10px;
      }
      h3
      {
        font-size: 1em;
        font-weight: 400;

        float: left;

        width: 360px;
        a
        {
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;

          color: rgba(199, 123, 64, 1);
          border-bottom: 1px solid rgba(199, 123, 64, .2);
          &:hover
          {
            border-bottom: 1px solid rgba(199, 123, 64, 1);
          }
        }
      }
      i
      {
        font-size: 12px;

        float: left;

        width: 360px;
        padding-bottom: 4px;

        color: #4f7a8d;
      }
      p
      {
        font-size: 14px;

        float: left;

        width: 360px;

        color: #6d6e71;
      }
    }

  }


}
