<div id="call-back-wrapper">
  <form action="<%#= base_url %>" method="post" id="f_call_back" accept-charset="utf-8" autocomplete="on" onload="">
    <h2><%= t('system_elements.forms.call_back_header') %>:</h2>
    <div class="ll">
      <div class="field">
        <input data-validation="length" data-validation-error-msg="<%= t('system_elements.forms.validation_name') %>" data-validation-length="3-30" type="text" id="call-back-name" placeholder="Николай Воронин" aria-required="true"/>
        <label for="call-back-name" class="help-block"><%= t('system_elements.forms.label_name') %>:</label>
      </div>
      <div class="field">
        <input data-validation=" " data-validation-error-msg="<%= t('system_elements.forms.validation_phone') %>" data-validation-length="10" type="text" id="call-back-phone" placeholder="+38 (050) 417 07 28" aria-required="true"/>
        <label for="call-back-phone"><%= t('system_elements.forms.label_phone') %>:</label>
      </div>
      <div class="field">
        <input data-validation="email" data-validation-error-msg="<%= t('system_elements.forms.validation_email') %>" type="text" id="call-back-email" placeholder="voronin.nick@gmail.com" aria-required="true"/>
        <label for="call-back-email"><%= t('system_elements.forms.label_email') %>:</label>
      </div>
    </div>

    <div class="rr">
      <div class="field">
        <textarea data-validation="required" data-validation-error-msg="<%= t('system_elements.forms.validation_body') %>" name="call-back-body" id="call-back-body" cols="30" rows="10" placeholder="Введите ваш вопрос" aria-required="true"></textarea>
        <label for="call-back-body"><%= t('system_elements.forms.label_body') %>:</label>
      </div>
      <div class="field">
        <button type="submit" id="call-back-submit">Задать вопрос</button>
      </div>
    </div>
  </form>
</div>
