


<section id="mailer">
  <div class="mailer-holder">
    <h2>Задать вопрос:</h2>
    <form class="ask-question clearfix" action="" method="post" id="ask-question-form">
      <div class="l">
        <div class="field">
          <input data-validation="length" data-validation-error-msg="<%= t('system_elements.forms.validation_name') %>" data-validation-length="3-30" type="text" id="firstname" placeholder="Николай Воронин"/>
          <label for="firstname">Ваше имя:</label>
        </div>
        <div class="field">
          <input data-validation="email" data-validation-error-msg="<%= t('system_elements.forms.validation_email') %>" type="text" id="email" placeholder="voronin.nick@gmail.com" />
          <label for="email">Ел. почта:</label>
        </div>
        <div class="field">
          <input data-validation="length" data-validation-error-msg="<%= t('system_elements.forms.validation_name') %>" data-validation-length="3-30" type="text" id="theme" placeholder="Введите тему вашего вопроса" />
          <label for="theme">Тема вопроса</label>
        </div>
        
      </div>
      <div class="r">
        <div class="field">
          <textarea data-validation="required" data-validation-error-msg="<%= t('system_elements.forms.validation_body') %>" name="body" id="body" cols="30" rows="10" placeholder="Введите ваш вопрос"></textarea>
          <label for="body">Суть вопроса</label>
        </div>
        <div class="field">
          <button type="submit" id="submit">Задать вопрос</button>
        </div>
      </div>
    </form>
  </div>
</section>


