<header style="position: relative;top: -5px;">
	<section id="inf-nav">
		<nav>
			<ul>
        <!-- TODO: add actionname and conroller names for article and newws item -->
				<li<% if controller_name == 'page' && action_name == 'about_us' %> class="active_top_menu" <% else %> <% end %>><%= link_to 'о компании', about_us_path %></li>
				<li<% if (controller_name == 'publication' && action_name == 'news_index') || (controller_name == 'publication' && action_name == 'news_show') %> class="active_top_menu" <% else %> <% end %>><%= link_to 'новости', news_index_path %></li>
				<li<% if (controller_name == 'publication' && action_name == 'articles_index') || (controller_name == 'publication' && action_name == 'articles_show') %> class="active_top_menu" <% else %> <% end %>><%= link_to 'статьи', articles_index_path %></li>
        <!--<li><a href="">Еще пункт</a></li>-->
			</ul>
		</nav>
	</section>
	<nav id="main-navigation">
		<ul>
			<li id="logo">
				<%= link_to_unless current_page?(controller: 'page', action: 'index') || current_page?('/'), image_tag('logo.png', :alt => ' '), root_path %>
			</li>
			<li <% if controller_name == "page" && action_name == "about_system" %> class="active_item" <% end %>>
        <% if controller_name == "page" && action_name == "about_system" %>
        <a>
          <i>возможности</i>
          <b>системы</b>
        </a>
        <% else %>
        <%= link_to about_system_path do %>
            <i>возможности</i>
            <b>системы</b>
        <% end %>
        <% end %>
      </li>
			<li <% if (controller_name == 'publication' && action_name == 'usage_index') || (controller_name == 'publication' && action_name == 'usage_show') %> class="active_item" <% end %> >
        <%
          if (controller_name == 'publication' && action_name == 'usage_index') #||
              #(controller_name == 'publication' && action_name == 'usage_show')
        %>
          <a>
            <i>области</i>
            <b>применения</b>
          </a>
        <% else %>
          <%= link_to usage_index_path do %>
            <i>области</i>
            <b>применения</b>
          <% end %>
        <% end %>
			</li>
			<li id="eq-li"
      <%
        if (controller_name == 'product' && action_name == 'index') ||
            (controller_name == 'product' && action_name == 'by_type') ||
            (controller_name == 'product' && action_name == 'by_brand') ||
            (controller_name == 'product' && action_name == 'by_id') ||
            (controller_name == 'product' && action_name == 'show')
      %>
      class="active_item"
      <% end %>
      >
        <a id="equipment_nav">
				  <i>необходимое</i>
				  <b>оборудование</b>
			  </a>
          <ol id="sub_nav_main">
            <li class="gps_li"> <i class="gps_m"></i> <%= link_to 'GPS трекеры', product_by_type_path(:product_type_id => 'gps-trekery') %><hr/></li>
            <li class="add_li"> <i class="add_m"></i> <%= link_to 'Дополнительное оборудование', product_by_type_path(:product_type_id => 'dopolnitelnoe-oborudovanie') %><hr/></li>
            <li class="controll_li"> <i class="controll_m"></i> <%= link_to 'Контроль топлива', product_by_type_path(:product_type_id => 'kontrol-topliva') %><hr/></li>
          </ol>
      </li>
			<li <% if controller_name == 'page' && action_name == 'economy_effect' %> class="active_item" <% end %> >
        <% if controller_name == 'page' && action_name == 'economy_effect' %>
        <a>
				  <i>экономический</i>
				  <b>эффект</b>
			  </a>
        <% else %>
        <%= link_to economy_effect_path do %>
            <i>экономический</i>
            <b>эффект</b>
        <% end %>
        <% end %>
      </li>
			<li <% if (controller_name == 'contact' && action_name == 'new') || (controller_name == 'contact' && action_name == 'create') %> class="active_item" <% end %>>
        <% if (controller_name == 'contact' && action_name == 'new') || (controller_name == 'contact' && action_name == 'create') %>
        <a>
				  <i>наши</i>
				  <b>контакты</b>
			  </a>
        <% else %>
          <%= link_to contact_path do %>
            <i>наши</i>
            <b>контакты</b>
          <% end %>
        <% end %>
      </li>

		</ul>
	</nav>

	<div class="item_holder">
		<div id="section-name">
      <% if (controller_name == "publication" && action_name == "usage_show") || (controller_name == "publication" && action_name == "news_show") || (controller_name == "publication" && action_name == "articles_show.html.erb") %>
        <h2><%= @page_title %></h2>
        <% else %>
        <h1><%= @page_title %></h1>
      <% end %>
		</div>
	</div>


</header>

<%= render :partial => 'partials/bread' %>
