

<header id="indexpage">


  <div id="logo-index" class="clearfix">
    <div class="holder">
      <%= link_to_unless current_page?(controller: 'page', action: 'index') || current_page?('/'), image_tag('logo-index.png', :alt => ' '), root_path %>
    </div>
  </div>
	<nav id="main-navigation">
		<ul>
			<li id="logo">
				<%= link_to_unless current_page?(controller: 'page', action: 'index') || current_page?('/'), image_tag('logo-index.png', :alt => ' '), root_path %>
			</li>
			<li>
        <%= link_to about_system_path do %>
				<i>возможности</i>
				<b>системы</b>
        <% end %>
			</li>
			<li>
				<%= link_to usage_index_path do %>
					<i>области</i>
					<b>применения</b>
				<% end %>
			</li>
			<li id="eq-li">
        <%= link_to product_index_path, id: 'equipment_nav' do %>
				<i>необходимое</i>
				<b>оборудование</b>
        <% end %>
        <ol id="sub_nav_main">
          <li class="gps_li"> <i class="gps_m"></i> <%= link_to 'GPS трекеры', product_by_type_path(:product_type_id => 'gps-trekery') %><hr/></li>
          <li class="add_li"> <i class="add_m"></i> <%= link_to 'Дополнительное оборудование', product_by_type_path(:product_type_id => 'dopolnitelnoe-oborudovanie') %><hr/></li>
          <li class="controll_li"> <i class="controll_m"></i> <%= link_to 'Контроль топлива', product_by_type_path(:product_type_id => 'kontrol-topliva') %><hr/></li>
        </ol>
			</li>
			<li>
        <%= link_to economy_effect_path do %>
          <i>экономический</i>
          <b>эффект</b>
        <% end %>
			</li>
			<li>
        <%= link_to contact_path do %>
          <i>наши</i>
          <b>контакты</b>
        <% end %>
			</li>

		</ul>
	</nav>
  <%#= request.env.inspect %>
  <article class="slider">
    <div class="slider-controll">
      <div class="left prev"></div>
      <div class="right next"></div>
    </div>
    <ul>

      <script type="text/javascript" charset="utf-8">
        $(document).ready(function(no_click){
          $("#descr_no_click").click(function(no_click_e){
            no_click.preventDefault();
            no_click_e.preventDefault();
            return false;
          });
        });
      </script>
      <% @banners.each do |banner| %>
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function(e){
            $(".slider-<%= banner.id %>").css("background", "url('<%= banner.avatar.url %>') no-repeat top center");

            $("#slider-<%= banner.id %>-click-action").click(function(event_click){
              event_click.preventDefault();
              window.location.href = <%= banner.link %>;
            });

          });
        </script>
        <li id="slider-<%= banner.id %>-click-action" class="slider-<%= banner.id %>"><div id="descr_no_click"><h3><%= link_to(banner.name, banner.link) %></h3><p><%= banner.description.html_safe %></p> <a class="btn" href="<%= banner.link %>">детальней</a> <i></i></div></li>
      <% end %>


      <!--<li class="slider-1"><div><h3>GPS мониторинг</h3><p>разнообразний текст о работе даного отдела</p> <a href="/about-system">детальней</a> <i></i></div></li>-->
      <!--<li class="slider-2"><div><h3>Окупність системи</h3><p>Повна окупність системи за 6 місяців</p> <a href="/about-system">детальней</a> <i></i></div></li>-->
      <!--<li class="slider-3"><div><h3>Можливість контролю рухомих обєктів з</h3><p>Компьютера <br/> Планшета <br/>e Мобільного телефону</p> <a href="/about-system">детальней</a> <i></i></div></li>-->
    </ul>
  </article>



</header>
