section#section {
  .product_by_type {
    width: 1020px;
    margin: 0 auto;
    .product_item {
      float: left;

      width: 330px;
      height: 430px;
      margin-right: 10px;
      margin-bottom: 10px;

      border: 2px solid rgba(241, 242, 242, 1);
      h3 {
        text-align: center;
        padding: 5px 0;

        a{

          color: rgba(199, 123, 64, 1);
          border-bottom: 1px solid rgba(199, 123, 64, 0.01);

          text-decoration: none;

          -webkit-transition: all .75s ease;
          -moz-transition: all .75s ease;
          -ms-transition: all .75s ease;
          -o-transition: all .75s ease;
          transition: all .75s ease;

          &:hover{
            text-decoration: none;
            border-bottom: 1px solid rgba(199, 123, 64, 1);
          }
        }
      }

      a{

        img {
          margin: 10px 32px 11px 32px;
          max-width: 265px;
          max-height: 239px;
          width: 265px;
          height: 239px;
        }
      }


      p {
        font-size: 14px;

        margin: 0 12px;
        padding: 0;

        height: 80px;
        overflow: hidden;
      }
      .button {
        font-size: 18px;

        display: inline-block;

        width: 328px;
        height: 43px;
        line-height: 43px;
        margin-top: 9px;
        //padding: 12px 64px;

        -webkit-transition: all .75s ease;
           -moz-transition: all .75s ease;
            -ms-transition: all .75s ease;
             -o-transition: all .75s ease;
                transition: all .75s ease;
        text-transform: uppercase;

        color: rgba(255, 255, 255, .75);
        background: #4f7a8d;

        i{
          background: url('icons/eye.svg') no-repeat  center #C4D5DD;
          width: 43px;
          height: 43px;
          display: block;
          float: left;
          margin-right: 30px;

          -webkit-transition: all .75s ease;
          -moz-transition: all .75s ease;
          -ms-transition: all .75s ease;
          -o-transition: all .75s ease;
          transition: all .75s ease;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
          background: rgba(199, 123, 64, 1);

          i{
            background: url('icons/eye.svg') no-repeat  center #ffffff;
          }
        }
      }
    }
  }
}



#sorting-by-brand{
  width: 260px;
  height: 50px;
  //overflow: hidden;

  //border: 1px solid #4F7A8D;

  position: relative;
  top: -28px;

  .item{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #4F7A8D;
    font-weight: 400;
  }

  .option{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #4F7A8D;
    font-weight: 400;

    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -ms-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;

    &:hover{
      color: rgba(199, 123, 64, 1);
      //border-bottom: 1px solid rgba(199, 123, 64, 1);
    }
  }

  .selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 14px 8px;
  }

  .selectize-control.single .selectize-input, .selectize-dropdown.single{
    border-color: #4F7A8D;
    border-radius: 0;
  }

  .selectize-control.single .selectize-input {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: initial;
    background-repeat: initial;
    filter: none;
  }

  .selectize-input{
    padding: 14px 8px;

  }

  ul{
    list-style: none;

    li{
      width: 260px;
      padding: 14px 10px;
    }
  }
}
