#product-catalog{
  width: 1020px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 90px;

  article{
    width: 320px;
    margin-right: 20px;
    float: left;

    text-align: center;

    &:last-child{
      margin-right: 0;
    }

    img{
      width: 320px;
      height: 320px;
      max-width: 100%;
      padding: 0 60px;
    }

    h2{
      margin-top: 10px;
      margin-bottom: 20px;
      line-height: 28px;

      a
      {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;

        color: rgba(199, 123, 64, 1);
        border-bottom: 1px solid rgba(199, 123, 64, .2);
        &:hover
        {
          border-bottom: 1px solid rgba(199, 123, 64, 1);
        }
      }
    }

    p{

    }
  }
}