#product_by_id{


  .holder_product{


    width: 1020px;
    margin: 0 auto;

    h2{

      color: #4f7a8d;
      font-size: 38px;
      line-height: 42px;
      border-left: 2px solid #C77B40;
      padding-left: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .pr-main-holder{



      .ll{

        width: 265px;
        float: left;
        margin-right: 20px;

        img{
          width: 265px;
          max-width: 265px;
        }
      }


      .rr{
        width: 735px;
        float: left;

        p{
          margin-bottom: 20px;
        }

      }

    }

    .product_features{

      margin-top: 40px;

      #product_features_tabs{

        width: 1020px;
        height: 50px;
        background: #C4D5DD;

        a{
          color: #4f7a8d;
          border-right: 1px solid #4f7a8d;
          font-size: 18px;
          text-align: center;

          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
          text-decoration: none;

          width: 255px;

          float: left;

          display: block;

          padding: 15px 5px;

          &:first-child{
            padding: 5px 5px;
          }

          &:last-child{
            border: 0;
            padding: 5px 5px;
          }

          &:hover{
            color: #C77B40;
          }

        }

        .active_tab_selected{
          background: #C77B40;
          color: #ffffff !important;
        }
      }

      #product_features_tabs_content{

        border-bottom: 1px solid #C77B40;
        border-left: 1px solid #C77B40;
        border-right: 1px solid #C77B40;

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-top: 20px;

        .tab-content {

          display: none;
        }

        .tab1_content,
        .tab2_content,
        .tab3_content,
        .tab4_content{

          ul{
            li{
              width: 460px;
              float: left;
              margin-bottom: 10px;
            }
          }
        }

        .tab1_content{
          display: block;
        }

        .active_tab{


        }
      }
    }

  }
}