<% content_for :meta_head do %>
  <meta name="description" content="<%= get_static(30).meta_description %>"/>
  <meta name="keywords" content="<%= get_static(30).meta_keywoard %>"/>
<% end %>
<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-10.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="section">
  <article class="system_ability clearfix">
    <%= get_static(30).full_description.html_safe %>
  </article>
</section>
