<% content_for :meta_head do %>
  <meta name="description" content="<%= get_static(29).meta_description %>"/>
  <meta name="keywords" content="<%= get_static(29).meta_keywoard %>"/>
<% end %>
<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-3.jpg') %>") !important;
  }
</style>
<!--/noindex-->
<section id="section">
  <article class="economy_effect clearfix">
    <%= get_static(29).full_description.html_safe %>
  </article>
</section>
