<!--noindex-->
<style>
  header {
    background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="section">
  <article class="product_by_type clearfix product_by_brand_page">

    <nav id="sorting-by-brand">
      <form action="/product">
        <select name="product_brand" id="select-beast-empty">
          <!--<option value="Все">Все</option>-->
          <% @all_brands.each do |sort| %>
            <option value="<%= sort.slug %>"><%= sort.name %><%#= link_to sort.name, product_by_brand_path(:product_brand_id => sort.slug, :product_type_id => sort.product_type.slug) %></option>
          <% end %>
        </select>
      </form>
    </nav>

    <% @products.products.each do |item| %>
      <article class="product_item">
        <h3><%= item.name %></h3>
        <%= image_tag item.avatar.url(:main), alt: item.name %>
        <p><%= item.short_description %></p>
        <%= link_to  product_by_id_path(:id => item.slug, :product_type_id => item.product_brand.product_type.slug, :product_brand_id => item.product_brand.slug) do %>
          <i></i> подробное описание
          <% end %>
      </article>
    <% end %>

  </article>
</section>
