<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<%#= @product.inspect %>

<section id="product_by_id" class="clearfix">
  <article class="holder_product">
    <h2 class="product_headline"><%= @product.header %></h2>
    <article class="pr-main-holder clearfix">
      <div class="ll">
        <%= image_tag(@product.avatar.url(:main), alt: @product.name) %>
      </div>

      <div class="rr">
        <%= raw @product.full_description %>
      </div>
    </article>
    <article class="product_features clearfix">
      <div id="product_features_tabs">
        <%= link_to "Технические характеристики", '', id: "#tab1", class: 'active_tab_selected', data: { 'tabs' => 'tab1-c' }  %>
        <%= link_to "Интерфейсы", '', id: "#tab2", data: { 'tabs' => 'tab2-c' } %>
        <%= link_to "Особенности", '', id: "#tab3", data: { 'tabs' => 'tab3-c' } %>
        <%= link_to "Дополнительное оборудование", '', id: "#tab4", data: { 'tabs' => 'tab4-c' } %>
      </div>
      <div id="product_features_tabs_content">
        <div class="tab-content tab1_content clearfix" id="tab1-c">
          <%= raw @product.tech_spec %>
        </div>
        <div class="tab-content tab2_content clearfix" id="tab2-c">
          <%= raw @product.interface_spec %>
        </div>
        <div class="tab-content tab3_content clearfix" id="tab3-c">
          <%= raw @product.feature_spec %>
        </div>
        <div class=" tab-content tab4_content clearfix" id="tab4-c">
          <%= raw @product.additional_spec %>
        </div>
      </div>
    </article>
  </article>
</section>
