<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="section">
  <article class="product_by_type clearfix">





    <nav id="sorting-by-brand">
      <form action="/product">
        <select name="product_brand" id="select-beast-empty">
          <!--<option value="Все">Все</option>-->
          <% @products.product_brands.each do |sort| %>

            <option value="<%= sort.slug %>"><%= sort.name %><%#= link_to sort.name, product_by_brand_path(:product_brand_id => sort.slug, :product_type_id => sort.product_type.slug) %></option>
          <% end %>
        </select>
      </form>

      <!-- ul -->



        <!-- li><%#= link_to_unless @products.blank?, "Все", product_by_type_path(:product_type_id => @products_type.slug) %></li>
        <%# @products.product_brands.each do |sort| %>
          <li><%#= link_to sort.name, product_by_brand_path(:product_brand_id => sort.slug, :product_type_id => sort.product_type.slug) %></li>
        <%# end %>
      </ul -->
    </nav>

    <% @products.product_brands.each do |brand| %>
      <% brand.products.each do |item| %>
        <article class="product_item">
          <h3><%= link_to(item.name, product_by_id_path(:id => item.slug, :product_type_id => item.product_brand.product_type.slug, :product_brand_id => item.product_brand_id)) %></h3>
          <%= link_to(image_tag(item.avatar.url(:main), alt: item.name), product_by_id_path(:id => item.slug, :product_type_id => @products_type.slug, :product_brand_id => brand.slug)) %>
          <p><%= item.short_description %></p>
          <%= link_to  product_by_id_path(:id => item.slug, :product_type_id => @products_type.slug, :product_brand_id => brand.slug), class: 'button' do %>
            <i></i> подробное описание
          <% end %>
        </article>
      <% end %>
    <% end %>
  </article>
</section>
