<section id="product-catalog" class="clearfix">

  <article>
    <%= link_to(image_tag("icons/gps-menu.svg", alt: ""), product_by_type_path(:product_type_id => 'gps-trekery')) %>
    <h2><%= link_to t('system_elements.footer.menu.gps_menu'), product_by_type_path(:product_type_id => 'gps-trekery') %></h2>
    <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, создателей научных</p>
  </article>

  <article>
    <%= link_to(image_tag("icons/aditional-menu.svg", alt: ""), product_by_type_path(:product_type_id => 'dopolnitelnoe-oborudovanie')) %>
    <h2><%= link_to t('system_elements.footer.menu.additional_menu'), product_by_type_path(:product_type_id => 'dopolnitelnoe-oborudovanie') %></h2>
    <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, создателей научных</p>
  </article>

  <article>
    <%= link_to(image_tag("icons/controll-menu.svg", alt: ""), product_by_type_path(:product_type_id => 'kontrol-topliva')) %>
    <h2><%= link_to t('system_elements.footer.menu.controll_menu'), product_by_type_path(:product_type_id => 'kontrol-topliva') %></h2>
    <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, создателей научных</p>
  </article>

</section>
