<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
  }
</style>
<!--/noindex-->
<section id="empty_search">
  <h2>По вашему запросу ничего не найденно!</h2>

  <div class="search-me">
    <%= form_tag(product_index_path, :method => "get", id: "header_search", class: 'search') do %>
      <%= text_field_tag :search, params[:search], placeholder: "", id: 'search_field' %>
      <label for="search_field">Например: <a href="#gps">GPS</a></label>
    <% end %>

    <a class="button" id="open-seacrh"><%= image_tag('icons/search.svg') %></a>

  </div>
</section>
