<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-2.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="section">
  <article class="product_by_type clearfix">
    <nav>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </nav>
    <% @products.each do |item| %>
      <article class="product_item">
        <h3><%= link_to(item.name, product_by_id_path(:id => item.slug, :product_type_id => item.product_brand.product_type.slug, :product_brand_id => item.product_brand_id)) %></h3>
        <%= link_to(image_tag(item.avatar.url(:main), alt: item.name), product_by_id_path(:id => item.slug, :product_type_id => item.product_brand.product_type.slug, :product_brand_id => item.product_brand_id)) %>
        <p><%= item.short_description %></p>
        <%= link_to 'подробное описание', product_by_id_path(:id => item.slug, :product_type_id => item.product_brand.product_type.slug, :product_brand_id => item.product_brand_id), class: 'button' %>
      </article>
    <% end %>

    <%= will_paginate @products %>

  </article>

</section>
