<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-8.jpg') %>");
  }
</style>
<!--/noindex-->
<section id="faq">
  <article id="intro" class="clearfix">
    <div class="ll">
      <img src="http://placehold.it/350x350" alt=""/>
    </div>
    <div class="rr">
      <h2>Задайте вопрос эксперту!</h2>

      <p>Если у вас возникли какие-то вопросы, то нашие эксперты с радостю ответят вам на любой вопрос. Эффективное
        повышение экономических показателей возможно только с качественно новым подходом к управлению производственными
        процессами. В нынешнее время его сможет обеспечить только автоматизированная система управления и контроля
        транспорта, работающая на основе технологий позиционирования GPS и ГЛОНАСС.</p>
    </div>
  </article>
  <article id="question-list" class="clearfix">
    <div class="question_list_holder">
      <h2>Самые часто задаваемые вопросы:</h2>
      <% @faqs.each do |link| %>
        <div class="question_list_item">
          <span class="_tri"></span><a href="#question-<%= link.id %>"><%= link.question %></a>
        </div>
      <% end %>
    </div>
  </article>
  <article id="answer-list" class="clearfix">
    <% @faqs.each do |item| %>
      <div class="answer_item clearfix" id="question-<%= item.id %>">
        <div class="l">
          <p class="question"><%= item.question %></p>
        </div>
        <div class="r">
          <p class="answer_head">Ответ:</p>

          <p class="answer_body"><%= item.answer %></p>

          <div class="call_to_action ">
            <%= link_to '', '#question-list', title: 'Наверх', id: 'top_top_faq' %>
          </div>
        </div>
      </div>
    <% end %>
  </article>
</section>
<%= render partial: 'partials/form_mailer' %>
