<!--noindex-->
<style>
  header{
    background-image: url("<%= image_path('banners/na-web-other-banners-7.jpg') %>") !important;
  }
</style>
<!--/noindex-->

<section id="contact-page" class="ccccc">
  <%= get_static(38).full_description.html_safe %>
  <article id="map" class="clearfix">
    <div class="sec">
      <h3 class="">Мы на Гугл карте:</h3>
    </div>

    <div id="g_map"></div>
  </article>

  <article id="form">
    <section id="mailer">
      <div class="mailer-holder">
        <h2>Форма обратной связи:</h2>

        <form class="ask-question clearfix" action="" method="post" id="contact-question-form">
          <div class="l">
            <div class="field">
              <input data-validation="length" data-validation-error-msg="<%= t('system_elements.forms.validation_name') %>" data-validation-length="3-30" type="text" id="firstname" placeholder="Николай Воронин"/>
              <label for="firstname">Ваше имя:</label>
            </div>
            <div class="field">
              <input data-validation="email" data-validation-error-msg="<%= t('system_elements.forms.validation_email') %>" type="text" id="email" placeholder="voronin.nick@gmail.com" />
              <label for="email">Ел. почта:</label>
            </div>
            <div class="field">
              <input type="text" data-validation="required" data-validation-error-msg="<%= t('system_elements.forms.validation_phone') %>" data-validation-length="12-18" id="theme" placeholder="+38 (050) 417 07 28" />
              <label for="theme">Контактный телефон:</label>
            </div>

          </div>
          <div class="r">
            <div class="field">
              <textarea data-validation="required" data-validation-error-msg="<%= t('system_elements.forms.validation_body') %>" name="body" id="body" cols="30" rows="10" placeholder="Введите ваш вопрос"></textarea>
              <label for="body">Текс Вашего послания:</label>
            </div>
            <div class="field">
              <button type="submit" id="submit">отправить</button>
            </div>
          </div>
        </form>
      </div>
    </section>

  </article>



  <article id="why__we_are__landing">
    <div class="holder_item">
      <%= get_static(3).full_description.html_safe %>
    </div>
  </article>
</section>
