#breadcrumbs
{
  width: 1020px;
  height: 28px;
  margin: 10px auto;

  @extend .clearfix;
  nav
  {
    list-style: none;
    ul
    {
      list-style: none;
      li
      {
        font-size: 14px;
        line-height: 26px;

        float: left;

        height: 26px;
        margin-right: 4px;

        color: #c4d5dd;
        &:first-child
        {
          a
          {
            display: block;

            width: 22px;
            height: 20px;

            border: 0;
            background: url('icons/home.svg') no-repeat;
            &:hover
            {
              border: 0;
              background: url('icons/home-active.svg') no-repeat;
            }
          }
        }
        a
        {
          -webkit-transition: all 1s ease;
             -moz-transition: all 1s ease;
              -ms-transition: all 1s ease;
               -o-transition: all 1s ease;
                  transition: all 1s ease;
          text-decoration: none;

          color: #4F7A8D;
          border-bottom: 1px solid rgba(196, 213, 221, .9);

          text-underline: none;
          &:hover
          {
            color: rgba(199, 123, 64, 1);
            border-bottom: 1px solid rgba(199, 123, 64, .9);
          }
        }
      }
    }
  }
}
