@import "normal";

#call-back{
  @include clearfix();
}

.form-error{
  display: none;
  visibility: hidden;
  font-size: 12px;
  //display: inline-block;
  margin-left: 54px;
  position: relative;
  top: -65px;
}


#call-back-contactpage{
  border-bottom: 1px dashed rgba(199, 123, 64, .5);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  &:hover{
    border-bottom: 1px dashed rgba(199, 123, 64, 1);
  }
}


#call-back-wrapper{

  @include clearfix();

  form{
    @include clearfix();
  }

  padding: 40px 0px;

  background: #f7f8fa;

  width: 860px;
  margin: 0 auto;

  h2 {
    font-size: 28px;
    line-height: 26px;

    margin-bottom: 20px;

    color: #4f7a8d;
  }

  .ll{
    width: 340px;
    float: left;
    margin-right: 20px;

    .field {
      float: left;

      width: 340px;
      height: 45px;
      margin-bottom: 30px;
      margin-left: 20px;
      padding-left: 20px;

      border-left: 1px solid #c77b40;
      input {
        width: 300px;
        height: 45px;

        color: #c77b40;

        border: 1px solid #4f7a8d;

        padding: 0px 8px;

        font-weight: 400;
        font-style: italic;
      }

      label{
        font-size: 12px;
        cursor: default;
        color: #4F7A8D;
        margin-left: 8px;
      }
    }

  }

  .rr{
    width: 500px;
    float: left;

    .field{
      float: left;
      width: 500px;
      height: 195px;

      textarea{
        border: 1px solid #4f7a8d;
        padding: 4px 8px;
        width: 500px;
        height: 195px;
        font-weight: 400;
        font-style: italic;
        color: #c77b40;
      }
      label{
        font-size: 12px;
        cursor: default;
        color: #4F7A8D;
        margin-left: 8px;
      }

      &:last-child{
        margin-top: 20px;
        height: 30px;
        text-align: right;
        button{
          padding: 10px 24px;
          background: #c77b40;
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }

}
