
  #contact-page{


    #first{
      width: 1020px;
      margin: 0 auto;
      padding: 30px 0;
      .ll{
        float: left;
        width: 500px;
        margin-right: 20px;

        h3{
          float: left;
          width: inherit;
          color: #c77b40;
          padding-left: 50px;
          margin-bottom: 30px;
        }

        p{
          font-size: 28px;
          line-height: 32px;
          color: #58595B;
          font-weight: 400;
          float: left;
          margin-left: 50px;
          width: 380px;
        }
      }

      .rr{
        float: left;
        width: 500px;
        h3{
          float: left;
          width: inherit;
          color: #c77b40;
          padding-left: 50px;
          margin-bottom: 30px;
        }
        p{
          font-size: 28px;
          line-height: 32px;
          color: #58595B;
          font-weight: 400;
          margin-bottom: 5px;
          float: left;
          margin-left: 50px;
          width: 380px;
          span{
            color: #c77b40;
          }
        }
        a{
          color: #c77b40;
          font-size: 16px;



          &:hover{
            border-bottom: 1px dashed #c77b40;
          }
        }
      }
    }


    #map{
      width: 100%;
      height: 600px !important;
      overflow: hidden;
      padding: 0px 0px 30px 0px;


      .sec{

        width: 1020px;
        margin-left: auto;
        margin-right: auto;
      }

      h3{

        color: #c77b40;
        padding-left: 50px;

        text-align: left;
        margin-bottom: 30px;
      }


      #g_map{
        height: 600px !important;
        overflow: hidden;
        border-top: 6px solid rgba(188, 190, 192, 0.05);
      }
    }
  }


  #contact-page{
  #why__we_are__landing
  {
    width: 100%;
    padding-top: 3em;


    @extend .clearfix;
    .holder_item
    {
      width: 1020px;
      margin: 0 auto;
      h2
      {
        font-size: 1.85em;
        font-weight: 400;

        padding-bottom: 1.25em;

        text-align: center;

        color: #a7a9ac;
      }
      ._why_we_are
      {
        display: block;
        float: left;

        width: 245px;
        margin-right: 10px;
        &:last-child
        {
          margin-right: 0;
        }
        h3
        {
          float: left;

          width: 195px;
          padding-bottom: 10px;

          color: rgba(199, 123, 64, 1);
        }
        img
        {
          float: left;

          max-width: 40px;
          max-height: 40px;
          margin-right: 10px;

          vertical-align: middle;

          margin-top: -5px;
        }
        p
        {
          float: left;

          color: #808285;
        }
      }
    }
  }
  }


  #form{
    background: #4f7a8d;
    width: 100%;
    height: auto;
    #mailer {
      width: 100%;

      background-color: transparent;
      .mailer-holder {
        width: 1020px;
        margin: 0 auto;
        padding: 40px 0 60px 0;
        h2 {
          font-size: 28px;
          line-height: 26px;

          margin-bottom: 20px;

          color: #ffffff;
        }
        .ask-question {
          .l {
            float: left;

            width: 420px;
            margin-right: 0px;
            .field {
              float: left;

              width: 380px;
              height: 45px;
              margin-bottom: 30px;
              margin-left: 20px;
              padding-left: 20px;

              border-left: 1px solid #c77b40;
              input {
                width: 355px;
                height: 45px;

                border: 1px solid #4f7a8d;
                color: #c77b40;

                padding: 0px 8px;

                font-weight: 400;
                font-style: italic;
              }

              label{
                font-size: 12px;
                cursor: default;
                color: #ffffff;
                margin-left: 8px;
              }
            }
          }
          .r {
            float: left;

            width: 580px;

            .field{
              float: left;
              width: 580px;
              height: 195px;

              textarea{
                border: 1px solid #4f7a8d;
                padding: 4px 8px;
                width: 580px;
                height: 195px;
                font-weight: 400;
                font-style: italic;
                color: #c77b40;
              }
              label{
                font-size: 12px;
                cursor: default;
                color: #ffffff;
                margin-left: 8px;
              }

              &:last-child{
                margin-top: 20px;
                height: 30px;
                text-align: right;
                button{
                  padding: 10px 24px;
                  background: #c77b40;
                  color: #ffffff;
                  font-size: 20px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
              }
            }


          }
        }
      }
    }



    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #BCBEC0;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #BCBEC0;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #BCBEC0;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #BCBEC0;
    }

  }
