section#faq {
  #intro {
    width: 1020px;
    margin: 0 auto;
    padding: 40px 0;
    .ll {
      float: left;

      width: 380px;
      margin-right: 20px;
      img {
        border: 0;
      }
    }
    .rr {
      float: left;

      width: 600px;
      padding-left: 20px;

      border-left: 2px solid #c77b40;
      h2 {
        font-size: 34px;
        line-height: 26px;

        margin-bottom: 20px;

        color: #c77b40;
      }
      p {
        font-size: 16px;
        line-height: 20px;

        color: #6d6e71;
      }
    }
  }
  #question-list {
    width: 100%;

    background-color: #f7f8fa;
    .question_list_holder {
      width: 1020px;
      margin: 0 auto;
      padding: 40px 0;
      h2 {
        font-size: 28px;
        line-height: 26px;

        margin-bottom: 20px;

        color: #4f7a8d;
      }
      .question_list_item {
        width: 100%;
        margin-bottom: 6px;
        ._tri {
          display: inline-block;

          width: 0;
          height: 0;
          padding-left: 5px;

          border-width: 7px 0 7px 12px;
          border-style: solid;
          border-color: transparent transparent transparent rgba(199, 123, 64, 1);
        }
        a {
          font-size: 18px;
          font-weight: 400;

          display: inline-block;

          margin: 4px 0 4px 10px;

          color: #c77b40;
          border-bottom: 1px dashed #c77b40;
        }
      }
    }
  }
  #answer-list {
    width: 1020px;
    margin: 0 auto;
    padding: 30px 0;
    .answer_item {
      margin: 60px 0;
      padding-bottom: 60px;

      border-bottom: 1px solid #c4d5dd;
    }
    .l {
      float: left;

      width: 490px;
      height: 100px;
      margin-right: 30px;

      border-right: 2px solid #c77b40;
      .question {
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;

        padding-right: 30px;

        color: #4f7a8d;
      }
    }
    .r {
      float: left;

      width: 500px;
      .answer_head {
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;

        float: left;

        width: 100%;
        margin-bottom: 16px;

        color: #4f7a8d;
      }
      .answer_body {
        font-size: 16px;
        line-height: 22px;

        float: left;

        width: 100%;

        color: #6d6e71;
      }
      .call_to_action {
        float: left;

        width: 500px;
        height: 28px;
        margin-top: 10px;

        text-align: center;
        a {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}


#top_top_faq{
  background: url("<%= image_path('icons/faq-top-t.svg') %>") no-repeat center;
  width: 26px;
  height: 28px;
  display: block;
  margin: 0 auto;

  /*-webkit-transition: all .15s ease;*/
  /*-moz-transition: all .15s ease;*/
  /*-ms-transition: all .15s ease;*/
  /*-o-transition: all .15s ease;*/
  /*transition: all .15s ease;*/

  &:hover{
    background: url("<%= image_path('icons/faq-top-th.svg') %>") no-repeat center;
  }
}
