.firefox{
  .system_try_out{

    .field{
      width: 190px !important;
    }
  }
}

.firefox{

  .dash{
    font-weight: 300;
    li{
      font-weight: 300;
      a{
        font-weight: 300;
      }
    }
  }

  .dash-o{
    font-weight: 300;
    li{
      font-weight: 300;
      a{
        font-weight: 300;
      }
    }
  }

  //font-weight: 300;
}
