#_bottom_line_END{
  #_f_section{
    width: 1020px;
    margin: 0 auto;

    .studio{
      width: 320px;
      float: left;
      padding: 9px 0px;

      a{
        color: #C4D5DD;
        border-bottom: 1px solid rgba(196, 213, 221, 0.2);

        -webkit-transition: all .75s ease;
        -moz-transition: all .75s ease;
        -ms-transition: all .75s ease;
        -o-transition: all .75s ease;
        transition: all .75s ease;

        &:hover{
          border-bottom: 1px solid rgba(196, 213, 221, 1);
        }
      }

      img{
        float: left;

      }
      p{
        float: left;
        width: 195px;
        font-size: 12px;
        color: #C4D5DD;
        line-height: 16px;
        font-weight: 400;
        padding: 15px 0 15px 10px;
      }
    }

    .link_menu{
      width: 180px;
      float: left;
      padding: 19px 0;
      a{
        font-size: 12px;
        color: #C4D5DD;
        font-weight: 400;
        border-bottom: 1px solid rgba(196, 213, 221, 0.2);

        -webkit-transition: all .75s ease;
        -moz-transition: all .75s ease;
        -ms-transition: all .75s ease;
        -o-transition: all .75s ease;
        transition: all .75s ease;

        &:hover{
          border-bottom: 1px solid rgba(196, 213, 221, 1);
        }
      }
    }

    .map_site{
      width: 140px;
      float: left;
      margin-left: 120px;
      padding: 19px 0;
      a{
        font-size: 12px;
        color: #C4D5DD;
        font-weight: 400;
        border-bottom: 1px solid rgba(196, 213, 221, 0.2);

        -webkit-transition: all .75s ease;
        -moz-transition: all .75s ease;
        -ms-transition: all .75s ease;
        -o-transition: all .75s ease;
        transition: all .75s ease;

        &:hover{
          border-bottom: 1px solid rgba(196, 213, 221, 1);
        }
      }
    }
  }
}
