#indexpage
{
  height: 520px;

  background: #fff;
  #logo
  {
    display: none;
    visibility: hidden;
  }
  #logo-index
  {
    position: relative;
    z-index: 999;

    width: 1020px;
    margin: 0 auto;
    .holder
    {
      float: left;

      width: 136px;
    }
  }
  #main-navigation
  {
    z-index: 1000;
    top: 393px;
    ul
    {
      height: 89px;

      border-right: 1px solid #416574;
      border-left: 1px solid #7295a4;
      li
      {
        width: 203.5px;
        a
        {
          i
          {
            width: 204px;
          }
          b
          {
            width: 204px;
          }
        }
      }
    }
  }
}


header
{
  width: 100%;
  height: 230px;

  //background: url('../assets/headers/header-1.png') no-repeat center center;

  background: url('../assets/banners/na-web-other-banners-1.jpg');
  background-repeat: no-repeat !important;

  background-position: 50% !important;

  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

  #sub-navigation
  {
    position: relative;
    z-index: 999;

    height: 5px;

    border-bottom: 1px solid #9C602F;
    background-color: #c77b40;

    @extend .clearfix;
  }
  #main-navigation
  {
    position: relative;
    top: 19px;

    width: 100%;
    height: 90px;

    list-style: none;

    border-top: 1px solid #416574;
    border-bottom: 1px solid #416574;
    background-color: #4f7a8d;

    @extend .clearfix;
    ul
    {
      display: block;

      width: 1020px;
      margin: 0 auto;

      list-style: none;
      .active_item
      {
        background: #c77b40;
        a{
          i,b{
            color: #ffffff;
          }
        }
        &:hover{
          i,b{
            color: #ffffff;
          }
        }
      }
      li
      {
        float: left;

        width: 160px;
        height: 89px;

        text-align: center;

        border-right: 1px solid #7295a4;
        border-left: 1px solid #416574;
        ol
        {
          position: relative;
          z-index: 9999;

          margin-left: -1px;

          .add_li a{
            padding: 30px 0 !important;
          }

          .gps_li a{
            padding: 32px 0 !important;
          }

          .controll_li a{
            padding: 32px 0 !important;
          }

          .controll_li i{
            margin: 18px 20px !important;
          }

          .add_li:hover{
            .add_m{
              background: url('icons/aditional-menu-h.svg') no-repeat center rgba(199, 123, 64, 1) !important;
            }
          }

          .gps_li:hover{
            .gps_m{
              background: url('icons/gps-menu-h.svg') no-repeat center rgba(199, 123, 64, 1) !important;
            }
          }

          .controll_li:hover{
            .controll_m{
              background: url('icons/controll-menu-h.svg') no-repeat center rgba(199, 123, 64, 1) !important;
            }
          }

          li
          {
            width: 458px !important;

//            -webkit-transition: all .15s ease;
//               -moz-transition: all .15s ease;
//                -ms-transition: all .15s ease;
//                 -o-transition: all .15s ease;
//                    transition: all .15s ease;

            border-right: 1px solid rgba(199, 123, 64, 1);
            border-left: 1px solid rgba(199, 123, 64, 1);


            hr{
              display: block;
              height: 1px;
              border: 0;
              border-top: 1px solid #f3f3f3;
              /* margin: 1em 0; */
              /* padding: 0; */
              position: relative;
              width: 75%;
              margin-left: auto;
              margin-right: auto;
              &:hover{
                display: none;
              }
            }

            background: #fff;
            &:last-child
            {
              border-bottom: 1px solid rgba(199, 123, 64, 1);
            }
            &:hover
            {
              background: rgba(199, 123, 64, 1);
              hr{
                display: none;
              }
              a
              {
                color: #fff;
              }
            }

            i{
              float: left;
              width: 50px;
              height: 50px;
              margin: 10px 20px;

            }

            .gps_m{
              background: url('icons/gps-menu.svg') no-repeat center;
            }

            .controll_m{
              background: url('icons/controll-menu.svg') no-repeat center;
            }

            .add_m{
              background: url('icons/aditional-menu.svg') no-repeat center;


            }




            a
            {
              font-size: 22px;

              padding: 25px 0;

              text-align: left;

              color: rgba(199, 123, 64, 1);
            }
          }
        }
        a
        {
          display: block;

          width: 100%;
          height: 89px;
          padding: 24px 0;



          color: #fff;
          i
          {
            font-size: 14px;

            display: block;

            width: 160px;

            color: #fff;

            -webkit-transition: all .8s ease;
            -moz-transition: all .8s ease;
            -ms-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
          }
          b
          {
            font-size: 18px;
            font-weight: 700 !important;

            display: block;

            width: 160px;

            letter-spacing: 1px;
            text-transform: uppercase;

            color: #fff;

            -webkit-transition: all .8s ease;
            -moz-transition: all .8s ease;
            -ms-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
          }
        }
        &:hover{
          a{

            i,b{
              color: #C77B40;
            }
          }
        }
      }
      #logo
      {
        width: 190px;

        border-right: 1px solid #7295a4;
        border-left: 0 solid #416574;
        a
        {
          position: relative;
          z-index: 999;
          top: -75px;

          display: block;

          width: 138px;
          padding: 0;
        }
      }
    }
  }
  #inf-nav
  {
    width: 620px;
    height: 20px;
    margin: 0 auto;
    nav
    {
      position: relative;
      top: 12px;

      float: right;
      ul
      {
        list-style: none;
        .active_top_menu
        {
          a
          {
            color: #c77b40;
          }
        }
        li
        {
          float: left;

          padding: 0 6px;

          border-right: 1px solid rgba(199, 123, 64, 1);
          &:last-child
          {
            border-right: 0;
          }
          a
          {
            font-size: 14px;
            font-weight: 600;

            letter-spacing: .65px;
            text-transform: uppercase;

            color: #4f7a8d;
            border-bottom: 1px solid rgba(199, 123, 64, 0);

            -webkit-transition: all .8s ease;
            -moz-transition: all .8s ease;
            -ms-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;

            &:hover{
              color: rgba(199, 123, 64, 1);
              border-bottom: 1px solid rgba(199, 123, 64, 1);
            }
          }
        }
      }
    }
  }
  .item_holder
  {
    width: 980px;
    margin: 0 auto;
  }
  #section-name
  {
    position: relative;
    top: 105px;

    float: right;

    border-right: 4px solid rgba(199, 123, 64, 1);
    background: rgba(0,0,0,.75);
    h1,h2
    {
      font-size: 2em;
      font-weight: 500;

      margin: 0;
      padding: 16px 16px 16px 60px;

      color: #fff;
    }
  }

  #equipment_nav{

  }
  #sub_nav_main{
    display: none;
  }
}


#sub-navigation{

  z-index: 1000;
  height: 5px;
  position: relative;
  border-bottom: 1px solid #9b5e2f;
  background-color: #c67b41;

  overflow: hidden;

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;

  .sub_holder_wrapper{
    width: 1020px;
    margin: 0 auto;

    overflow: hidden;

    padding: 5px 0;


    a.button{
      margin-left: 5px;
      width: 90px;
      height: 50px;
      padding: 12px;
      text-align: center;
      background: #4F7A8D;
      display: block;
      float: left;
      cursor: pointer;
      img{
        max-width: 26px;
        max-height: 26px;
      }
    }

    .text{
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      padding: 14px 4px !important;
    }

    .ll{
      float: left;
      width: 605px;
      padding: 15px 0;

      #header_login{

        float: left;
        //        width: 410px;
        width: 410px;
        overflow: hidden;

        .field{
          width: 200px;
          float: left;
          margin-right: 5px;
        }

        input{
          float: left;
          width: 200px;
          height: 50px;
          padding: 0px 8px;

          font-weight: 400;
          font-style: italic;
        }
        label{
          float: left;
          width: 200px;
          font-size: 14px;
          cursor: default;
          color: #ffffff;
          margin-top: 4px;
          margin-left: 8px;
          a{
            color: rgba(255, 255, 255, 0.65);
            border-bottom: 1px solid rgba(255, 255, 255, 0.65);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

            &:hover{
              color: rgba(255, 255, 255, 1);
              border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
          }
        }

      }

      form.search{
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
        float: left;
//        width: 410px;
        width: 0px;
        overflow: hidden;
        input{
          float: left;
          width: 500px;
          height: 50px;
          padding: 0px 8px;

          font-weight: 400;
          font-style: italic;
        }
        label{
          float: left;
          width: 410px;
          font-size: 14px;
          cursor: default;
          color: #ffffff;
          margin-top: 4px;
          margin-left: 8px;
          a{
            color: rgba(255, 255, 255, 0.65);
            border-bottom: 1px solid rgba(255, 255, 255, 0.65);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

            &:hover{
              color: rgba(255, 255, 255, 1);
              border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
          }
        }
        button{
          margin-left: 5px;
          width: 90px;
          height: 50px;
          padding: 4px;
          text-align: center;
          background: #4F7A8D;
          img{
            max-width: 40px;
            max-height: 40px;
          }
        }
      }
    }

    .mm{
      float: left;
      width: 194px;
      padding: 14px 0;
      margin: 0px 50px;
      text-align: center;

      a{

        font-size: 14px;
        color: #ffffff;
        border-bottom: 1px dashed #ffffff;
      }

      p
      {
        font-size: 22px;
        font-weight: 400;

        margin-bottom: 6px;

        color: white;
        span
        {
          color: #4F7A8D;
        }
        &:last-child
        {
          margin-bottom: 0;
        }
      }
    }

    .rr{
      float: left;
      width: 120px;
      padding: 30px 0;

      p{
        display: block;
        float: left;
        width: 40px;
        height: 30px;
        margin-right: 10px;
        border: 2px solid #C4D5DD;
        font-weight: 400;
        line-height: 26px;
        text-align: center;

        color: rgba(199, 123, 64, 1);
        background: #C4D5DD;
        a{
          color: #C4D5DD;
          background: rgba(199, 123, 64, 1);
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

  }
}


.nav_act{
  position: relative;
  z-index: 3000;
  top: -2px;
  left: 74%;
  float: left;
  .trio{
    background: url('nav-tri.png') no-repeat center center;
    width: 16px;
    height: 10px;
    position: relative;
    z-index: 99999;
    display: block;
    top: -2px;
  }
}
