/** /!!! core css Should not edit !!!/**/

.csSlideOuter {
	overflow: hidden;

}
.lightSlider:before, .lightSlider:after {
	content: " ";
	display: table;
}

.csSlideWrapper{

}

.csSlideWrapper > .lightSlider:after {
	clear: both;

}
.csSlideWrapper .csSlide {
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transition-duration: inherit;
	transition-duration: inherit;
	-webkit-transition-timing-function: inherit;
	transition-timing-function: inherit;
}
.csSlideWrapper .csFade {
	position: relative;
}
.csSlideWrapper .csFade > * {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 9;
	margin-right: 0;
	width: 100%;
}
.csSlideWrapper.usingCss .csFade > * {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: inherit;
	transition-duration: inherit;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: inherit;
	transition-timing-function: inherit;
}
.csSlideWrapper .csFade > *.active {
	z-index: 10;
}
.csSlideWrapper.usingCss .csFade > *.active {
	opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.csSlideOuter .csPager.cSpg {
	margin: 20px 0 0;
	padding: 0;
	text-align: center;
}
.csSlideOuter .csPager.cSpg > li {
	cursor: pointer;
	display: inline-block;
	padding: 0 15px;
}
.csSlideOuter .csPager.cSpg > li a {
	background-color: #4f7a8d;
    color: #ffffff;
    font-weight: bold;
	border-radius: 30px;
	display: inline-block;
	height: 28px;
	overflow: hidden;

	width: 28px;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;

    padding-top: 10px;
    padding-left: 4px;
    font-size: 24px;
}
.csSlideOuter .csPager.cSpg > li:hover a, .csSlideOuter .csPager.cSpg > li.active a {
	background-color: #c77b40;
}
.csSlideOuter .media {
	opacity: 0.8;
}
.csSlideOuter .media.active {
	opacity: 1;
}
/* End of pager */

/** Gallery */
.csSlideOuter .csPager.cSGallery {
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.csSlideOuter .csPager.cSGallery li {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s linear 0s;
	transition: opacity 0.35s linear 0s;
}
.csSlideOuter .csPager.cSGallery li.active, .csSlideOuter .csPager.cSGallery li:hover {
	opacity: 1;
}
.csSlideOuter .csPager.cSGallery img {
	display: block;
	height: auto;
	max-width: 100%;
}
.csSlideOuter .csPager.cSGallery:before, .csSlideOuter .csPager.cSGallery:after {
	content: " ";
	display: table;
}
.csSlideOuter .csPager.cSGallery:after {
	clear: both;
}
/* End of Gallery*/

/* slider actions */
.csAction > a {
	width: 34px;
	display: block;
	top: 50%;
	height: 40px;
	background-image: url('controls.png');
	cursor: pointer;
	position: absolute;
	z-index: 99;
	margin-top: -16px;
	opacity: 0.5;
	-webkit-transition: opacity 0.35s linear 0s;
	transition: opacity 0.35s linear 0s;
}
.csAction > a:hover {
	opacity: 1;
}
.csAction > .csPrev {
	background-position: 0 0;
	left: 0px;
}
.csAction > .csNext {
	background-position: -32px 0;
	right: 0px;
}
.cS-hidden {
	height: 1px;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
}
