#mailer {
  width: 100%;

  background-color: #f7f8fa;
  .mailer-holder {
    width: 1020px;
    margin: 0 auto;
    padding: 40px 0 60px 0;
    h2 {
      font-size: 28px;
      line-height: 26px;

      margin-bottom: 20px;

      color: #4f7a8d;
    }
    .ask-question {
      .l {
        float: left;

        width: 420px;
        margin-right: 0px;
        .field {
          float: left;

          width: 380px;
          height: 45px;
          margin-bottom: 30px;
          margin-left: 20px;
          padding-left: 20px;

          border-left: 1px solid #c77b40;
          input {
            width: 355px;
            height: 45px;

            color: #c77b40;

            border: 1px solid #4f7a8d;

            padding: 0px 8px;

            font-weight: 400;
            font-style: italic;
          }

          label{
            font-size: 12px;
            cursor: default;
            color: #4F7A8D;
            margin-left: 8px;
          }
        }
      }
      .r {
        float: left;

        width: 580px;

        .field{
          float: left;
          width: 580px;
          height: 195px;

          textarea{
            border: 1px solid #4f7a8d;
            padding: 4px 8px;
            width: 580px;
            height: 195px;
            font-weight: 400;
            font-style: italic;
            color: #c77b40;
          }
          label{
            font-size: 12px;
            cursor: default;
            color: #4F7A8D;
            margin-left: 8px;
          }

          &:last-child{
            margin-top: 20px;
            height: 30px;
            text-align: right;
            button{
              padding: 10px 24px;
              background: #c77b40;
              color: #ffffff;
              font-size: 18px;
              font-weight: 500;
              text-transform: uppercase;
            }
          }
        }


      }
    }
  }
}



::-webkit-input-placeholder { /* WebKit browsers */
  color:    #BCBEC0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #BCBEC0;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #BCBEC0;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #BCBEC0;
}
