h1,
h2,
h3,
h4,
h5{
  font-weight: 600 !important;
}

body{
  color: #808285;
}

html{

  min-width: 1020px !important;
}

body{

  min-width: 1020px !important;
}


nav{
  ul{

  }
}

.dash{
  li{
    position: relative;margin-left: 25px;
    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 11px;
      left: -25px;
      width: 20px;
      height: 1px;
      background: #6d6e71;
    }
  }
}

.dash_o{
  li{
    position: relative;margin-left: 25px;
    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 11px;
      left: -25px;
      width: 20px;
      height: 1px;
      background: #C77B40;
    }
  }
}

input,
textarea{
  color: #c77b40 !important;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
