$nprogress-color: #4f7a8d;

#nprogress .bar
{
  height: 6px !important;

  background: #4f7a8d !important;
  border-bottom: 1px solid #416574;
}

#nprogress .spinner-icon
{
  border-top-color: #4f7a8d !important;
  border-left-color: #4f7a8d !important;
}

@import 'nprogress';
@import 'nprogress-bootstrap';



/*
	Clearfix
*/

.clearfix:after
{
  font-size: 0;

  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: ' ';
}
.clearfix
{
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix
{
  height: 1%;
}
.clearfix
{
  display: block;
}
/* close commented backslash hack */

/*
	Reset any element to default
*/

*
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  border: 0;
  outline: none;
  &:after
  {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  &:before
  {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*
	Normalize starter template
*/

.holder_item
{
  @extend .clearfix;
}

/*
	Typo
*/

p
{
  font-weight: 300;
}

html
{
  font-family: 'Fira Sans', sans-serif;

  min-width: 1020px;

      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  body
  {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;

    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    main,
    nav,
    section,
    summary
    {
      display: block;
    }
    audio,
    canvas,
    progress,
    video
    {
      display: inline-block;

      vertical-align: baseline;
    }
    audio:not([controls])
    {
      display: none;

      height: 0;
    }
    [hidden],
    template
    {
      display: none;
    }
    a
    {
      background: transparent;
      &:hover
      {
        outline: 0;
      }
      &:active
      {
        outline: 0;
      }
    }
    b,
    strong
    {
      font-weight: bold;
    }
    abbr[title]
    {
      border-bottom: 1px dotted;
    }
    dfn
    {
      font-style: italic;
    }
    h1
    {
      font-size: 2em;

      margin: .67em 0;
    }
    mark
    {
      color: #000;
      background: #ff0;
    }
    small
    {
      font-size: 80%;
    }
    sub,
    sup
    {
      font-size: 75%;
      line-height: 0;

      position: relative;

      vertical-align: baseline;
    }
    sup
    {
      top: -.5em;
    }
    sub
    {
      bottom: -.25em;
    }
    img
    {
      border: 0;
    }
    svg:not(:root)
    {
      overflow: hidden;
    }
    figure
    {
      margin: 1em 40px;
    }
    hr
    {
      -moz-box-sizing: content-box;
           box-sizing: content-box;
      height: 0;
    }
    pre
    {
      overflow: auto;
    }
    code,
    kbd,
    pre,
    samp
    {
      font-family: monospace, monospace;
      font-size: 1em;
    }
    button,
    input,
    optgroup,
    select,
    textarea
    {
      font: inherit;

      margin: 0;

      color: inherit;
    }
    button
    {
      overflow: visible;
    }
    button,
    select
    {
      text-transform: none;
    }
    button,
    html input[type='button'],
    input[type='reset'],
    input[type='submit']
    {
      cursor: pointer;

      -webkit-appearance: button;
    }
    button[disabled],
    html input[disabled]
    {
      cursor: default;
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner
    {
      padding: 0;

      border: 0;
    }
    input
    {
      line-height: normal;
    }
    input[type='checkbox'],
    input[type='radio']
    {
      box-sizing: border-box;
      padding: 0;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button
    {
      height: auto;
    }
    input[type='search']
    {
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;

      -webkit-appearance: textfield;
    }
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-decoration
    {
      -webkit-appearance: none;
    }
    fieldset
    {
      margin: 0 2px;
      padding: .35em .625em .75em;

      border: 1px solid #c0c0c0;
    }
    textarea
    {
      overflow: auto;
    }
    table
    {
      border-spacing: 0;
      border-collapse: collapse;
    }
    td,
    th
    {
      padding: 0;
    }
    //    header{
    //      section#logo{
    //        position: absolute;
    //        z-index: 99;
    //        top: 5px;
    //
    //        width: 140px;
    //        height: 120px;
    //      }
    //
    //      #main-slider{
    //        width: 100%;
    //        height: 180px;
    //
    //        background-color: #f7f8fa;
    //      }
    //      #main-intro-section{
    //        width: 100%;
    //        height: 90px;
    //
    //        border-top: 1px solid #416574;
    //        border-bottom: 1px solid #416574;
    //        background-color: #4f7a8d;
    //        .holder__width{
    //          width: 1017px;
    //          height: 88px;
    //          margin: 0 auto;
    //
    //          border-right: 1px solid #7295a4;
    //          border-left: 1px solid #416574;
    //        }
    //        .main__intro-element{
    //          float: left;
    //
    //          width: 203px;
    //          height: 88px;
    //
    //          border-right: 1px solid #416574;
    //          border-left: 1px solid #7295a4;
    //          a{
    //            display: block;
    //
    //            height: 88px;
    //            padding: 1.25em 0;
    //
    //            text-align: center;
    //            vertical-align: middle;
    //
    //            color: #fff;
    //            i{
    //              font-size: 1.1em;
    //
    //              display: block;
    //
    //              width: 100%;
    //
    //              text-align: center;
    //            }
    //            b{
    //              font-size: 1.15em;
    //              font-weight: 700 !important;
    //
    //              display: block;
    //
    //              width: 100%;
    //
    //              text-align: center;
    //              letter-spacing: 1px;
    //              text-transform: uppercase;
    //            }
    //          }
    //        }
    //      }
    //    }
    #page
    {
      @extend .clearfix;
      #main__intro_page
      {
        width: 100%;

        background-color: #f7f8fa;
        margin-top: -5px;

        @extend .clearfix;
        .holder_item
        {
          width: 1020px;
          margin: 0 auto;
          padding: 1.25em 0;

          @extend .clearfix;
          .main__intro_element
          {
            float: left;

            width: 340px;
            padding: 1.25em 20px;
            &:first-child
            {
              padding-left: 0;
            }
            &:last-child
            {
              padding-right: 0;
            }
            img
            {
              float: left;

              vertical-align: middle;
              /* width: 130px;
							height: 130px; */
            }
            h3
            {
              float: left;

              width: 150px;
              margin-left: 20px;
              a
              {
                font-size: 1.25em;
                font-weight: 500;
                line-height: 1.3em;

                -webkit-transition: all 1s ease;
                   -moz-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                     -o-transition: all 1s ease;
                        transition: all 1s ease;

                color: rgba(199, 123, 64, 1);
                border-bottom: 1px solid rgba(199, 123, 64, .2);
                &:hover
                {
                  border-bottom: 1px solid rgba(199, 123, 64, 1);
                }
              }
            }
            p
            {
              font-size: 1.15em;

              float: left;

              padding-top: .5em;

              color: #808285;
            }
          }
        }
      }
      #main__info_slider_page
      {
        width: 100%;

        @extend .clearfix;
        .holder_item
        {
          width: 1020px;
          /* temp */

          margin: 0 auto;
        }
      }
      #main__intro_system_usage_page
      {
        width: 100%;

        background-color: #f7f8fa;

        @extend .clearfix;
        .holder_item
        {
          width: 1020px;
          margin: 0 auto;
          padding: 1.25em 0;
          h2
          {
            font-size: 1.85em;
            font-weight: 400;

            padding-bottom: .75em;

            text-align: center;

            color: #a7a9ac;
          }
          ._system_usage_item
          {
            float: left;

            width: 500px;
            height: 154px;
            margin-right: 10px;
            padding: .75em 0;
            &:last-child
            {
              margin-right: 0;
            }
            h3
            {
              font-size: 1.15em;

              float: left;

              width: 400px;
              margin-bottom: 6px;
              margin-left: 20px;
              a
              {
                font-size: 1em;

                -webkit-transition: all 1s ease;
                   -moz-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                     -o-transition: all 1s ease;
                        transition: all 1s ease;

                color: rgba(199, 123, 64, 1);
                border-bottom: 1px solid rgba(199, 123, 64, .2);
                &:hover
                {
                  border-bottom: 1px solid rgba(199, 123, 64, 1);
                }
              }
            }
            p
            {
              font-size: 1em;

              float: left;

              width: 400px;
              margin-left: 20px;

              color: #414042;
            }
            img
            {
              float: left;
              overflow: hidden;

              width: 80px;
              height: 130px;

              border-top-left-radius: 200px;
              border-bottom-left-radius: 200px;
            }
          }
          ._all_system_links
          {
            padding-bottom: 4em;

            text-align: right;
            ._tri
            {
              display: inline-block;

              width: 0;
              height: 0;
              padding-left: 5px;

              border-width: 7px 0 7px 12px;
              border-style: solid;
              border-color: transparent transparent transparent rgba(199, 123, 64, 1);
            }
            a
            {
              font-size: 1.25em;
              font-weight: 600;

              margin-right: 10px;

              -webkit-transition: all 1s ease;
                 -moz-transition: all 1s ease;
                  -ms-transition: all 1s ease;
                   -o-transition: all 1s ease;
                      transition: all 1s ease;

              color: rgba(199, 123, 64, 1);
              border-bottom: 1px solid rgba(199, 123, 64, .2);
              &:hover
              {
                border-bottom: 1px solid rgba(199, 123, 64, 1);
              }
            }
          }
        }
      }
      #why__we_are__landing
      {
        width: 100%;
        padding-top: 3em;
        padding-bottom: 4em;

        @extend .clearfix;
        .holder_item
        {
          width: 1020px;
          margin: 0 auto;
          h2
          {
            font-size: 1.85em;
            font-weight: 400;

            padding-bottom: 1.25em;

            text-align: center;

            color: #a7a9ac;
          }
          ._why_we_are
          {
            display: block;
            float: left;

            width: 245px;
            margin-right: 10px;
            &:last-child
            {
              margin-right: 0;
            }
            h3
            {
              float: left;

              width: 195px;
              padding-bottom: 10px;

              color: rgba(199, 123, 64, 1);
            }
            img
            {
              float: left;

              max-width: 40px;
              max-height: 40px;
              margin-right: 10px;

              vertical-align: middle;
            }
            p
            {
              float: left;

              color: #808285;
            }
          }
        }
      }
      #_latest_new_publications
      {
        width: 100%;
        padding: 3em 0 4em 0;

        background-color: #f7f8fa;

        @extend .clearfix;
        .holder_item
        {
          width: 1020px;
          margin: 0 auto;
          h2
          {
            font-weight: 400;

            width: 500px;

            border-bottom: 1px solid #4f7a8d;
            a
            {
              display: block;

              padding-bottom: 4px;

              color: #4f7a8d;
            }
          }
          .section__l_news
          {
            float: left;

            width: 500px;
            margin-right: 20px;
            .__l_news_item
            {
              height: 130px;
              margin: 25px 0;
              img
              {
                float: left;

                width: 130px;
                padding-right: 10px;

                vertical-align: middle;

                border-right: 2px solid rgba(199, 123, 64, 1);
              }
              h3,
              i,
              p
              {
                margin-left: 10px;
              }
              h3
              {
                font-size: 1em;
                font-weight: 400;

                float: left;

                width: 360px;
                a
                {
                  -webkit-transition: all 1s ease;
                     -moz-transition: all 1s ease;
                      -ms-transition: all 1s ease;
                       -o-transition: all 1s ease;
                          transition: all 1s ease;

                  color: rgba(199, 123, 64, 1);
                  border-bottom: 1px solid rgba(199, 123, 64, .2);
                  &:hover
                  {
                    border-bottom: 1px solid rgba(199, 123, 64, 1);
                  }
                }
              }
              i
              {
                font-size: 12px;

                float: left;

                width: 360px;
                padding-bottom: 4px;

                color: #4f7a8d;
              }
              p
              {
                font-size: 14px;

                float: left;

                width: 360px;

                color: #6d6e71;
              }
            }
          }
          .section__r_publication
          {
            float: left;

            width: 500px;
            margin-right: 0;
            .__r_publication_item
            {
              height: 200px;
              margin: 25px 0;
              h3
              {
                font-size: 1em;
                font-weight: 400;

                float: left;

                width: 490px;
                margin-bottom: 15px;
                margin-left: 10px;
                a
                {
                  -webkit-transition: all 1s ease;
                     -moz-transition: all 1s ease;
                      -ms-transition: all 1s ease;
                       -o-transition: all 1s ease;
                          transition: all 1s ease;

                  color: rgba(199, 123, 64, 1);
                  border-bottom: 1px solid rgba(199, 123, 64, .2);
                  &:hover
                  {
                    border-bottom: 1px solid rgba(199, 123, 64, 1);
                  }
                }
              }
              img
              {
                float: left;

                width: 490px;
                padding-left: 10px;

                border-left: 2px solid rgba(199, 123, 64, 1);
              }
              p
              {
                font-size: 14px;

                float: left;

                width: 490px;
                margin-left: 10px;
                padding-top: 10px;

                color: #6d6e71;
              }
            }
          }
        }
      }
    }
    #__to__top
    {
      width: 100%;
      height: 38px;
      margin-top: 60px;
      padding-top: 12px;

      cursor: pointer;

      background-color: #f7f8fa;

      @extend .clearfix;
      .__hold_me
      {
        width: 12px;
        margin: 0 auto;
        .trio
        {
          width: 0;
          height: 0;

          border-width: 0 6px 12px 6px;
          border-style: solid;
          border-color: transparent transparent #4f7a8d transparent;
        }
      }
    }
    footer
    {


      width: 100%;
      height: 320px;

      background: #4f7a8d;
      position: absolute;
      left: 0;
      bottom: 0;
      #__bottom_line_END
      {
        width: 100%;
        height: 6px;

        border-top: 1px solid #9b5e2f;
        background-color: #c67b41;
      }
      #__ff_menu
      {
        width: 1020px;
        margin: 0 auto;

        @extend .clearfix;
        #bottom-nav
        {
          float: left;

          width: 600px;
          padding: 2em 0;
          nav
          {
            list-style: none;
            ul
            {
              list-style: none;
              li
              {
                float: left;

                width: 300px;
                margin-bottom: 12px;
                ._tri
                {
                  display: inline-block;

                  width: 0;
                  height: 0;
                  padding-left: 8px;

                  border-width: 7px 0 7px 12px;
                  border-style: solid;
                  border-color: transparent transparent transparent #c77b40;
                }
                a
                {
                  font-size: 18px;

                  -webkit-transition: all 1s ease;
                     -moz-transition: all 1s ease;
                      -ms-transition: all 1s ease;
                       -o-transition: all 1s ease;
                          transition: all 1s ease;
                  text-decoration: none;
                  font-weight: 500;

                  color: #fff;
                  border-bottom: 1px solid rgba(255, 255, 255, .2);

                  text-underline: none;
                  &:hover
                  {
                    border-bottom: 1px solid rgba(255, 255, 255, 1);
                  }
                }
              }
            }
          }
        }
        ._footer_contact
        {
          float: left;

          width: 400px;
          margin-left: 20px;
          padding: 2em 0;
          p
          {
            font-size: 28px;
            font-weight: 600;

            margin-bottom: 16px;

            color: white;
            span
            {
              color: #c77b40;
            }
            &:last-child
            {
              margin-bottom: 0;
            }
          }
          div
          {
            img
            {
              float: left;

              margin-right: 15px;

              vertical-align: middle;
            }
            p
            {
              font-size: 14px;
              font-weight: 300;

              float: left;

              color: #c4d5dd;
            }
            a
            {
              &:hover
              {
              }
            }
          }
        }
      }
      #__ff_copy__studio
      {
        width: 1020px;
        margin: 0 auto;
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        p
        {
          font-size: 16px;
          font-weight: 300;

          float: left;

          color: #c4d5dd;
        }
      }
      #__ff_line
      {
        width: 100%;

        border-top: 1px solid #7295a4;
        border-bottom: 1px solid #416574;
      }
      #_bottom_line_END
      {
        height: 80px;
      }
    }
    #section
    {
      @extend .clearfix;
    }
  }
}



.system_try_out{
  height: 110px;
  width: 100%;
  background: #4f7a8d;
  border: 1px solid #416574;

  .holder__i{
    width: 1020px;
    margin: 0 auto;

    .rr{
      margin-left: 5px;
      padding: 21px 0px;
      width: 550px;
      float: left;

      form{

        i{
          color: #c77b40;
          cursor: pointer;
        }

        button{
          padding: 13px 30px;
          background: #c77b40;
          font-size: 22px;
          color: #ffffff;
        }

        .last{
          width: 80px !important;
        }

        .first{
          padding-left: 10px;
          height: 45px;
          border-left: 1px solid #c77b40;
          margin-right: 30px !important;
        }

        .middle{
          margin-right: 18px !important;
        }

        .field{
          float: left;
          width: 180px;
          margin-right: 2px;



          label{
            font-size: 12px;
            color: #c4d5dd;
          }
          input{
            height: 45px;
            padding: 0px 8px;

            font-weight: 400;
            font-style: italic;

          }
        }
      }

    }

    .ll{
      float: left;
      width: 465px;
      padding: 14px 0;
      p{
        float: left;
        width: 425px;
        text-align: right;

        color: #ffffff;
        font-size: 38px;
        line-height: 40px;
        font-weight: 700;

        &:last-child{
          width: 40px;
          font-size: 100px;
          line-height: 80px;
        }
      }
    }
  }

}




#main__info_slider_page{

  .holder_item{

    margin: 50px auto !important;

    #main_index_page_slider_content{
      width: 1020px;
      overflow: hidden;
      margin: 0 auto;
    }

    .slide-index{
      width: 100%;
      height: 100%;

      .ll{
        width: 500px;
        float: left;
        margin-right: 20px;
        .hl{
          width: inherit;
          border-left: 2px solid #C77B40;
          padding-left: 20px;
          margin-bottom: 30px;
        }
        h3{
          font-size: 38px;
          color: #c77b40;
          line-height: 46px;
        }
        p{
          color: #808285;
          font-size: 1.15em;
        }
      }

      .rr{
        width: 500px;
        float: left;
        ul{
          list-style: none;
          margin-top: 30px;
          margin-bottom: 30px;
          li{
            margin-bottom: 10px;
            color: #808285;
            font-size: 16px;
            font-weight: 300;
          }
        }

        ._tri{
          display: inline-block;
          width: 0;
          height: 0;
          padding-left: 8px;
          border-width: 7px 0 7px 12px;
          border-style: solid;
          border-color: transparent transparent transparent #c77b40;
        }

        a{

          color: #c77b40;
          font-weight: bolder;
          &:hover{
            color: #c77b40;
          }
        }
      }
    }

    .slide-index-1{

    }

    .slide-index-2{
      height: 420px;
      background: url("N-main-draw.svg") no-repeat center center;
      background-size: 960px;
      background-position-x: 0px;
      background-position-y: 90px;
      .rr{
        position: relative;
        bottom: -280px;
        left: -50px;
        p{
          margin-bottom: 20px;
        }
      }
    }

    .slide-index-3{
      .rr{
        margin-top: 170px;
        p{
          margin-bottom: 20px;
        }
      }
    }
  }
}


.rotate {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;

  &:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.active_r{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}


#empty_search{
  width: 1020px;
  margin: 0 auto;

  h2{
    color: #c77b40;
  }

  .search-me{
    margin: 30px 0;
    width: 100%;

  }
}














.usage_show_top{
  .pull-left-me{
    float: left;
    width: 580px;
    margin-right: 20px;

    p{
      margin-bottom: 10px;
      width: inherit !important;
      float: none !important;
    }

  }

  .pull-right-me{
    float: left;
    width: 400px;
    margin-left: 20px;
    p{
      margin-bottom: 50px;
      width: inherit !important;
      float: none !important;

      &:last-child{
        margin-bottom: 0;
      }

      i{
        color: #4f7a8d;
      }

      b{
        color: rgba(199, 123, 64, 1);
        margin-bottom: 4px;
      }
    }
  }


}

.middle-holder-stro{

  .right{
    .itemr{

      .content{
        font-style: italic;
      }
    }
  }

  h2{
    padding: 40px 0 0 0;
    text-align: center;
    color: #4f7a8d;
  }
}


.stroy{
  height: 620px !important;

  .middle-holder-stro{
    height: 620px !important;
  }
}


.stry-screen{
  height: 450px !important;

  .middle-holder-stro{
    height: 450px !important;
  }
}


#stro-last-element{
  //@include clearfix();

  width: 1020px;
  margin: 0 auto;

  padding: 40px 0;

  h2{
    color: #C77B40;
    padding: 24px 0;
    font-size: 30px;
    line-height: 38px;
  }

  .item{
    width: 500px;
    float: left;
    line-height: 80px;
    margin-bottom: 40px;
    margin-right: 20px;

    &:nth-of-type(2n){
      margin-right: 0;
    }

    &:first-child{

      p{
        margin-top: 30px;
      }
    }

    img{
      width: 90px;
      float: left;
    }

    p{
      font-size: 18px;
      color: #4F7A8D;
      font-weight: 400;
      width: 400px;
      margin-left: 10px;
      float: left;
      margin-top: 20px;
      line-height: 26px;

      span{
        color: #C77B40;
      }
    }

  }

}









.slider-controll{

  position: relative;
  z-index: 9999;


  .left{
    background: url('big-slider-left.png') no-repeat 0 0;
    width: 20px;
    height: 67px;

    position: absolute;
    left: 0;
    top: 194px;

    cursor: pointer;
  }


  .right{
    background: url('big-slider-right.png') no-repeat 0 0;
    width: 20px;
    height: 67px;

    position: absolute;
    right: 0;
    top: 194px;

    cursor: pointer;
  }
}
