section#page{
  position: relative;
  top: 94px;
}

section#section
{
  padding-top: 40px;
  padding-bottom: 60px;

  @extend .clearfix;
  .item_holder
  {
    width: 635px;
    margin: 0 auto;

    @extend .clearfix;
    h1
    {
      margin-bottom: 30px;

      color: rgba(199, 123, 64, 1);
    }
    h3
    {
      margin-bottom: 15px;

      color: rgba(199, 123, 64, 1);
    }
    p
    {
      margin-bottom: 25px;

      color: #6d6e71;
    }
    .rule
    {
      padding: 1em 0;
    }
  }
  #usage_holder
  {
    width: 1020px;
    margin: 0 auto;
    .__usage_item
    {
      float: left;

      width: 500px;
      height: 130px;
      margin-right: 20px;
      margin-bottom: 20px;
      h3
      {
        font-size: 1.15em;

        float: left;

        width: 400px;
        margin-bottom: 6px;
        margin-left: 20px;
        a
        {
          font-size: 1em;

          -webkit-transition: all 1s ease;
             -moz-transition: all 1s ease;
              -ms-transition: all 1s ease;
               -o-transition: all 1s ease;
                  transition: all 1s ease;

          color: rgba(199, 123, 64, 1);
          border-bottom: 1px solid rgba(199, 123, 64, .2);
          &:hover
          {
            border-bottom: 1px solid rgba(199, 123, 64, 1);
          }
        }
      }
      p
      {
        font-size: 1em;

        float: left;

        width: 400px;
        margin-left: 20px;

        color: #414042;
      }
      img
      {
        float: left;
        overflow: hidden;

        width: 80px;
        height: 130px;

        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
      }
      &:nth-child(2n)
      {
        margin-right: 0;
      }
    }
  }
  .usage_show_top
  {
    height: 360px;
    margin-bottom: 100px !important;
  }
  .usage_show_top
  {
    width: 1020px;
    margin: 0 auto;
    img
    {
      float: left;

      width: 360px;
      margin-right: 20px;

      border: 1px solid #4f7a8d;
    }
    h2,h1
    {
      font-size: 32px;

      margin-bottom: 20px;

      color: rgba(199, 123, 64, 1);
    }
    p
    {
      line-height: 22px;

      float: left;

      width: 640px;

      color: #6d6e71;
    }
  }
  .usage_show_middle
  {
    width: 100%;
    height: 1120px;

    background-color: #f7f8fa;
    .middle-holder
    {
      width: 1020px;
      height: 1120px;
      margin: 0 auto;
      .left
      {
        float: left;

        width: 580px;
        margin-right: 20px;
        padding: 60px 0 20px 0;
        h3,
        p
        {
          width: 580px;
        }
        p
        {
          color: #4f7a8d;
        }
      }
      .right
      {
        float: left;

        width: 420px;
        padding: 60px 0 20px 0;
        .itemr
        {
          float: left;

          width: 420px;
          .headline
          {
            font-size: 120px;
            line-height: 110px;

            width: 80px !important;

            color: #4f7a8d;
            border-right: 3px solid ;
          }
          .content
          {
            width: 330px !important;
            padding-left: 35px;

            color: #4f7a8d;
          }
        }
      }
      h3
      {
        font-size: 18px;

        margin-bottom: 20px;

        color: rgba(199, 123, 64, 1);
      }
      p
      {
        line-height: 22px;

        float: left;

        width: 640px;
        margin-bottom: 20px;

        color: #6d6e71;
      }
      hr
      {
        float: left;

        width: 1020px;
        height: 1px;
        margin-top: 50px;

        background: #4f7a8d;
      }
      .screenshot
      {
        float: left;
        overflow: hidden;

        width: 1020px;
        margin: 40px 0;
        h2
        {
          font-size: 26px;

          margin: 0 0 40px 0;

          text-align: center;

          color: #a7a9ac;
        }
        .sitem
        {
          float: left;

          width: 260px;
          margin-right: 120px;
          p
          {
            width: 260px !important;

            text-align: left;

            color: #4f7a8d;
          }
        }
        .last
        {
          margin-right: 0;
        }
      }
    }
  }
  .usage_show_bottom
  {
    width: 1020px;
    margin: 0 auto;
    padding: 60px 0 30px 0;
    .lh
    {
      float: left;

      width: 500px;
      margin-right: 20px;
    }
    .rh
    {
      float: left;

      width: 500px;
    }
    h3
    {
      font-size: 18px;

      float: left;

      width: 500px;
      margin-bottom: 20px;

      color: rgba(199, 123, 64, 1);
    }
    p
    {
      float: left;

      width: 500px;
      margin-bottom: 16px;

      color: #6d6e71;
    }
  }
  #news_holder
  {
    width: 1020px;
    margin: 0 auto;
    .__l_news_item_news_holder
    {
      float: left;

      width: 500px;
      height: 130px;
      margin: 25px 20px 25px 0;
      &:nth-child(2n)
      {
        margin: 25px 0 25px 0;
      }
      img
      {
        float: left;

        width: 130px;
        padding-right: 10px;

        vertical-align: middle;

        border-right: 2px solid rgba(199, 123, 64, 1);
      }
      h3,
      i,
      p
      {
        margin-left: 10px;
      }
      h3
      {
        font-size: 1em;
        font-weight: 400;

        float: left;

        width: 360px;
        a
        {
          -webkit-transition: all 1s ease;
             -moz-transition: all 1s ease;
              -ms-transition: all 1s ease;
               -o-transition: all 1s ease;
                  transition: all 1s ease;

          color: rgba(199, 123, 64, 1);
          border-bottom: 1px solid rgba(199, 123, 64, .2);
          &:hover
          {
            border-bottom: 1px solid rgba(199, 123, 64, 1);
          }
        }
      }
      i
      {
        font-size: 12px;

        float: left;

        width: 360px;
        padding-bottom: 4px;

        color: #4f7a8d;
      }
      p
      {
        font-size: 14px;

        float: left;

        width: 360px;

        color: #6d6e71;
      }
    }
  }
  #article_holder
  {
  }
}







// TODO: Move from here
.fancybox-close{
  position: absolute;
  top: -18px;
  right: 49px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 8040;
  background-image: url('close-iframe.png');
}
