//.styled-select {
//  width:330px;
//  overflow: hidden;
//  background: #ffffff;
//  border: 1px solid rgba(199, 123, 64, 1);
//  height: 50px;
//  border-radius:2px;
//  margin-bottom: 20px;
//  label{
//    display: none;
//    visibility: hidden;
//  }
//}
//
//.styled-select select {
//  width: 100%;
//  border: 0;
//  line-height: 46px;
//  font-size: 20px;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  text-indent: 0.01px;
//  text-overflow: '';
//  appearance: none;
//  background: transparent url("/img/smart_arrows.png") no-repeat scroll 97% 8px;
//
//  option{
//    border: 1px solid rgba(199, 123, 64, 1);
//  }
//
//  @media (-webkit-min-device-pixel-ratio: 2),
//  (min-resolution: 192dpi) {
//    background: transparent url("/img/smart_arrows@2x.png") no-repeat scroll 97% 8px;
//    background-size: 16px 144px;
//  }
//}
//



