.slider
{
  position: relative;
  top: -217px;

  overflow: auto;

  height: 520px !important;
  ul
  {
    overflow: hidden;

    list-style: none;
    li
    {
      float: left;
      overflow: hidden;

      height: 520px !important;

      list-style: none;


      div, .slider-descr{
        padding: 20px 20px 30px 20px;

        float: left;
        position: relative;
        background: rgba(0, 0, 0, 0.65);
        top: 240px;
        left: 55%;
        max-width: 420px;

        h3{

          margin-bottom: 10px;

          a{
            font-size: 32px;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 10px;
          }
        }

        p{
          color: rgba(199, 123, 64, 1);
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 30px;
        }

        .btn{
          text-transform: uppercase;
          color: #ffffff;
          background: #4f7a8d;
          font-size: 24px;
          padding: 12px 30px;
          font-weight: 700;
        }

        i{
          display: block;
          width: 4px;
          height: 100px;
          background: rgba(199, 123, 64, 1);
          position: absolute;
          top: 10px;
          right: -2px;
        }
      }

    }
  }
}

.dots
{
  position: absolute;
  left: 65%;
  top: 10px;
  z-index: 2000;
}

.dots li
{
  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 0 4px;

  background: rgba(0, 0, 0, 0.7);

  cursor: pointer;
  -webkit-transition: background .5s, opacity .5s;
     -moz-transition: background .5s, opacity .5s;
          transition: background .5s, opacity .5s;
  text-indent: -999em;

  opacity: .4;
  border: 0px solid #fff;
}

.dots li.active
{
  opacity: 1;
  background: rgba(199, 123, 64, 0.95);
}


.slider-1
{
  background: url('../assets/banners/na-web-main-banner-1.jpg') no-repeat 0 -160px;
}

.slider-2
{
  background: url('../assets/banners/na-web-main-banner-2a.jpg') no-repeat 0 -160px;
}


.slider-3
{
  background: url('../assets/banners/na-web-main-banner-3b.jpg') no-repeat 0 -160px;
}


.item-descr{
        padding: 20px 20px 30px 20px;
float: left;
position: absolute;
background: rgba(0, 0, 0, 0.65);
top: 210px;
left: 560px;

        h3{

          margin-bottom: 10px;

          a{
            font-size: 32px;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 10px;
          }
        }

        p{
          color: rgba(255, 255, 255, 1);
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 16px;
        }

        .btn{
          text-transform: uppercase;
          color: #ffffff;
          background: #4f7a8d;
          font-size: 24px;
          padding: 12px 30px;
          font-weight: 700;
        }

        i{
          display: block !important;
          width: 4px !important;
          height: 100px !important;
          background: rgba(199, 123, 64, 1);
          position: absolute;
          top: 10px;
          right: -2px;
        }
      }
