<!doctype html>
<html lang="uk" style="min-width: 860px !important;">
<head>
  <meta charset="UTF-8">
  <title>Форма обратной связи - "Наутика"</title>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv.min' %>
  <![endif]-->
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= ve_development_tag %>
  <%= csrf_meta_tags %>
</head>
<body style="min-width: 860px !important;">
<%= yield %>
</body>
</html>
